
/*Site Colors*/
:root {
  --red: #BA2026;
  --blue: #0071e3;
  --bluehover: #005ab5;
  --redhover: #94191e;
  --white: #FFFFFF;
  --graylighter: #EDEDED;
  --graylight: #464646;
  --graymedium: #999999;
  --graydark: #252525;
  --graydarker: #1A1A1A;
  --grayhover: rgba(255,255,255,0.15);
}
    /*Backgrounds*/
        .bg-red {background-color: var(--red)!important;}
        .bg-white {background-color: var(--white)!important;}
        .bg-gray-lighter {background-color: var(--graylighter)!important;}
        .bg-gray-light {background-color: var(--graylight)!important;}
        .bg-gray-medium {background-color: var(--graymedium)!important;}
        .bg-gray-dark {background-color: var(--graydark)!important;}
        .bg-gray-darker {background-color: var(--graydarker)!important;}
        .bg-gray-hover {background-color: var(--grayhover); !important;}
    /*Font Colors*/
        .text-red {color: var(--red)!important;}
        .text-white {color: var(--white)!important;}
        .text-gray-lighter {color: var(--graylighter)!important;}
        .text-gray-light {color: var(--graylight)!important;}
        .text-gray-medium {color: var(--graymedium)!important;}
        .text-gray-dark {color: var(--graydark)!important;}
        .text-gray-darker {color: var(--graydarker)!important;}

/*Reset*/
    html {margin: 0; padding: 0;}
    body {font-family: 'Roboto', sans-serif; font-weight: 200; margin: 0; padding: 0; line-height: 1;}
    .breadcrumb-item + .breadcrumb-item::before {font-family: "Font Awesome 6 Free"; font-weight: 900; content: '\f105'!important;}
    .dropdown-divider, .border-bottom, .border-top, .border, hr { border-bottom: 1px solid var(--grayhover)!important;}
    .dropdown-menu {z-index: 9999;}
    hr {opacity: 1!important; margin: 0!important;}
    a {color: var(--red); text-decoration: none; transition: .3s ease-in-out;}

/*Typography*/
    a:active, a:focus {box-shadow: none!important; border: none!important; outline: none!important;}
    h2 {font-weight: 500; font-size: 1rem;}
    p {line-height: 1.5; font-weight: 200; font-size: 1rem;}
    figure.heading {z-index: 2; position: relative; margin-bottom: 1em;}
    figure.heading figcaption {font-family: 'Oswald', sans-serif; text-transform: uppercase;}
    figure.heading figcaption small {font-size: .8rem; font-weight: 400; letter-spacing: .08rem; color: var(--red);}
    figure.heading p {margin-bottom: 1.5rem;}
    figure.heading figcaption h1 {font-size: 1.6rem; font-weight: 500!important;}
@media (min-width: 768px) {
    p {line-height: 1.5; font-weight: 200; font-size: 1.2rem;}
    figure.heading {margin: 2em 0;}
    figure.heading figcaption small {font-size: 1rem;}
    figure.heading figcaption h1 {font-size: 2rem;}
}
@media (min-width: 992px) {
    figure.heading {z-index: 2; position: relative; margin: 3em 0;}
    figure.heading figcaption h1 {font-size: 2.2rem;}
}
/*Fonts*/
    .oswald {font-family: 'Oswald', sans-serif; text-transform: uppercase;}
    .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {font-family: 'Oswald', sans-serif; margin-bottom: 1.5rem; text-transform: uppercase;}
    h1 {font-weight: 700;}
    h4 {font-weight: 400;}

/*Buttons*/
    .btn {line-height: .9; border-radius: 25px; font-family: 'Oswald', sans-serif; font-size: 0.875rem; text-transform: uppercase; padding: 0.6rem 1.4rem; white-space: nowrap; transition: .3s ease-in-out;}
    .btn-blue {color: var(--white); border-color: var(--blue); background-color: var(--blue); transition: .3s ease-in-out;}
    .btn-blue:hover, .btn-blue:active, .btn-blue:focus {color: var(--white); border-color: var(--bluehover)!important; background-color: var(--bluehover)!important; box-shadow: none!important; transition: .3s ease-in-out;}
    .btn-primary {color: var(--white); border-color: var(--red); background-color: var(--red); transition: .3s ease-in-out;}
    .btn-primary:hover, .btn-primary:active, .btn-primary:focus {border-color: var(--redhover)!important; background-color: var(--redhover)!important; box-shadow: none!important; transition: .3s ease-in-out;}
    .btn-outline-primary {border-color: var(--graylight); color: var(--white);}
    .btn-outline-primary:hover {color: var(--white)!important;}
    .btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary:focus {border-color: var(--red)!important; background-color: var(--red)!important; box-shadow: none!important;}
    .btn-outline-primary i {color: var(--red); transition: .3s ease-in-out;}
    .btn-outline-primary:hover i, .btn-outline-primary:active i, .btn-outline-primary:focus i {color: var(--white); transition: .3s ease-in-out;}

/*Grid*/
.container-boxed {max-width: 100%; width: 1440px; margin-left: auto; margin-right: auto; padding-left: 1.5rem; padding-right: 1.5rem;}

/*Custom Helpers*/
    /*Color Classes*/
        .red {color: var(--red);}

/*Secondary Nav*/
    section#navSecondary a,
    section#navSecondary p {color: var(--graymedium); font-size: 0.75rem; font-weight: 400;}
    section#navSecondary a.navbar-toggler {cursor: pointer; border: none; border-radius: 0; padding: 0;}
    section#navSecondary a.navbar-toggler span.toggler-icon {display: block; width: 1.875rem; margin-left: auto;}
    section#navSecondary a.navbar-toggler span.toggler-icon span {display: block; height: 1px; background: var(--white); margin: 5px 0; transition: .3s ease-in-out;}
    section#navSecondary a.navbar-toggler span.toggler-icon:hover span,
    section#navSecondary a.navbar-toggler:not(.collapsed) span.toggler-icon span {width: 100% !important; transition: .3s ease-in-out;}
    section#navSecondary div#navbarNavDropdown ul li {display: flex; flex-direction: column; align-items: flex-end;}
    section#navSecondary div#navbarNavDropdown ul li a {white-space: nowrap; padding-top: 1.5em; padding-bottom: 1.5em;}
    section#navSecondary div#navbarNavDropdown ul li:hover a {color: var(--white);}
@media (min-width: 576px) {
    section#navSecondary div#navbarNavDropdown ul li:hover a {background-color: var(--graydarker);}
}
@media (min-width: 768px) {
    section#navSecondary div#navbarNavDropdown ul li a {padding: 1.5em 1em;}
    section#navSecondary a.shipping-notice,
    section#navSecondary a.navbar-toggler {width: 50%!important;}
}

/*Primary Nav*/
    header#navPrimary a.navbar-brand img {width: 325px;}
    header#navPrimary ul li a:not(.dropdown-item) {font-family: 'Oswald', sans-serif; text-transform: uppercase; font-size: 0.875rem;}
    header#navPrimary ul li a:active, header#navPrimary ul li a:focus {box-shadow: none!important; border: none!important; outline: none!important;}
    header#navPrimary ul li a {color: var(--white ); transition: .3s ease-in-out;}
    header#navPrimary ul li.dropdown a:not(.dropdown-item):after {font-family: "Font Awesome 6 Free"; font-weight: 900; font-size: 0.75rem; content: '\f107' !important; border: none; margin: 0; padding: 0 0 0 4px; transform: translateY(1px); color: var(--red);}
    header#navPrimary ul li.dropdown div.dropdown-menu {background-color: var(--graydark); border-radius: 0; box-shadow: none; padding: 0; border: none; margin-top: calc(1rem - 1px)!important;}
    header#navPrimary ul li.dropdown div.dropdown-menu a {padding: 0.625rem 0.9375rem; font-size: 0.8125rem;}
    header#navPrimary ul li.dropdown div.dropdown-menu a:hover,
    header#navPrimary ul li.dropdown div.dropdown-menu a:active,
    header#navPrimary ul li.dropdown div.dropdown-menu a:focus {background-color: var(--grayhover);}
    header#navPrimary ul:hover li a,
    header#navPrimary ul:hover li a:active,
    header#navPrimary ul:hover li a:focus {opacity: .5; transition: .3s ease-in-out;}
    header#navPrimary ul li:hover a,
    header#navPrimary ul li:hover a:active,
    header#navPrimary ul li:hover a:focus {opacity: 1; transition: .3s ease-in-out;}
@media(min-width: 576px) {
    header#navPrimary ul li.dropdown div.dropdown-menu {margin-top: calc(1.5rem - 1px)!important;}
}

/*Breadcrumb Nav*/
    section#navBreadcrumbs nav ol.breadcrumb {font-family: 'Oswald', sans-serif; font-size: 10px !important; text-transform: uppercase; padding: .75rem 1rem; display: flex; align-items: center;}
    section#navBreadcrumbs nav ol.breadcrumb li.active {color: var(--white);}
    section#navBreadcrumbs nav ol.breadcrumb li:before {color: var(--red); font-weight: 900;}
    section#navBreadcrumbs nav ol.breadcrumb a {color: var(--graymedium);}
    section#navBreadcrumbs nav ol.breadcrumb a:hover {text-decoration: none; color: var(--white);}
@media (max-width: 575px) {
    section#navBreadcrumbs div#headerCTA .btn {padding-left: unset; padding-right: unset; width: 50%; max-width: 150px;}
}
@media (min-width: 576px) {
    section#navBreadcrumbs nav ol.breadcrumb {font-size: 0.875rem!important;}
    section#navBreadcrumbs nav ol.breadcrumb li.home img {width: 0.875rem;}
}

/*Site Footer*/
    footer#siteFooter {font-size: 0.875rem;}
    footer#siteFooter h2 {color: var(--red);}
    footer#siteFooter p, footer#siteFooter a {font-size: .9rem; font-weight: 300;}
    footer#siteFooter section#giveaway {font-size: 20px!important;}
    footer#siteFooter ul li:not(:last-of-type) {margin-bottom: .5rem;}
    footer#siteFooter ul li:before {font-family: "Font Awesome 6 Free"; font-weight: 900; content: '\f192' !important; border: none; margin-right: .5rem; color: var(--red);}
    footer#siteFooter ul li a {color: var(--white);}
    footer#siteFooter ul li a:hover, footer#siteFooter ul li a:active,footer#siteFooter ul li a:focus {text-decoration: underline;}
@media (min-width: 576px) {
    footer#siteFooter section#giveaway {font-size: 30px!important;}
}

