/*Section Styles*/
    section.dark-section {
        color: var(--white);
    }
/*Category Cards*/
    figure.card {border: none; overflow: hidden;}
    figure.card .card-body {padding: 0;}
    figure.card .card-body img.card-img {border-radius: calc(1rem - 1px); transition: .4s ease-in-out;}
    figure.card:hover .card-body img.card-img {transition: .4s ease-in-out;}
    figure.card .card-body figcaption.card-img-overlay {display: flex; flex-direction: column; justify-content: flex-end; margin-bottom: 0;}
    figure.card .card-body figcaption.card-img-overlay h1.card-title {color: var(--white);}
    figure.card .card-body figcaption.card-img-overlay a.btn {padding: 0; height: 0; border: none; background-color: transparent; overflow: hidden; transition: .3s ease-in-out;}
    figure.card .card-body figcaption.card-img-overlay a.btn span {opacity: 0; height: 100%; width: 100%; border-radius: 25px; padding: 0 1.4rem; border: 1px solid var(--graylight); display: flex; align-items: center; justify-content: center; transition: .3s ease-in-out;}
@media (max-width: 991px) {
    figure.card .card-body figcaption.card-img-overlay a.btn {position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
    figure.card:hover .card-body figcaption.card-img-overlay a.btn {background: transparent!important;}
}
@media (min-width: 992px) {
    figure.card:hover .card-body figcaption.card-img-overlay a.btn {height: 40px; transition: .3s ease-in-out;}
    figure.card:hover .card-body figcaption.card-img-overlay a.btn span {opacity: 1; transition: .3s ease-in-out;}
    figure.card:hover .card-body figcaption.card-img-overlay a.btn:hover span {background-color: var(--red); border-color: var(--red); transition: .3s ease-in-out;}
    figure.card:hover .card-body figcaption.card-img-overlay a.btn:hover span i {color: var(--white)!important; transition: .3s ease-in-out;}
}

/*HOME PAGE*/
    section#hero {border-bottom: 10px solid var(--red);}
    section#hero img {max-width: 1920px; margin-left: auto; margin-bottom: -100px;}
@media (min-width: 576px) {
    section#hero figure.heading figcaption small {font-size: 1.2rem; font-weight: bold!important;}
    section#hero figure.heading figcaption h1 {font-size: 2.8rem;}
    section#hero img {margin-bottom: -150px;}
}
@media (min-width: 768px) {
    section#hero figure.heading figcaption small {font-size: 1.5rem;}
    section#hero figure.heading figcaption h1 {font-size: 3rem;}
    section#hero img {margin-top: -50px; margin-bottom: -200px;}
}
@media (min-width: 992px) and (max-width: 1199px) {
    section#hero img {margin-top: -50px; margin-bottom: -250px;}
}
@media (min-width: 1200px) {
    section#hero {height: calc(100vh - 226.4833px);}
    section#hero img {margin-bottom: 0;}
}
@media (min-width: 1600px) {
    section#hero img {margin-top: -150px;}
}

/*Software Section*/
    section#theSoftware .video-col {max-width: 768px; margin: auto;}
    section#theSoftware .video-col img.video-mockup {margin-bottom: -2.5rem;}
    section#theSoftware .video-col video {border-radius: 5px; overflow: hidden; border: 7px solid var(--graydark); box-shadow: 0 0 0 2px var(--graymedium);}
    section#theSoftware .video-col span.video-shine {background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgb(255, 255, 255, 0.3) 35%, rgba(0,0,0,0) 100%); width: 100%; height: 7px; margin: auto; display: block; position: relative;}
    section#theSoftware .video-col span.video-shine.shine-top {margin-bottom: -7px;}
    section#theSoftware .video-col span.video-shine.shine-bottom {margin-top: -7px;}
    section#theSoftware .video-col .video-base {margin-bottom: -3rem; margin-top: 0; max-width: 60%;}
@media (min-width: 576px) and (max-width: 991px) {
    section#theSoftware .video-col img.video-mockup {margin-bottom: -3.5rem;}
    section#theSoftware .video-col .video-base {margin-bottom: -5rem;}
}
@media (min-width: 992px) {
        section#theSoftware .video-col .video-base {margin-bottom: -6.5rem;}
}

/*Category Section*/
@media (min-width: 1700px) {
    section#categoryKeyboards {padding-top: 12rem!important;}
}

/*Values Section*/
    section#values img.half-image {margin-top: 1.5rem; margin-bottom: -3.5rem; margin-left: -1.5rem;}
    section#values .order-md-1 {display: ;}
@media (min-width: 576px) and (max-width: 767px) {
    section#values img.half-image {margin-bottom: -6.5rem;}
}
@media (min-width: 768px) and (max-width: 991px) {
    section#values img.half-image {margin-bottom: 0;}
}
@media (min-width: 768px) {
    section#values img.half-image {margin-top: 0;}
    section#values .order-md-1 {margin-bottom: -6rem;}
}
@media (min-width: 1400px) {
    section#values img.half-image {opacity: 0;}
    section#values img.full-image {right: 2.25rem; top: 0; height: calc(100% + 3.5rem);}
}

/*Switches*/
    section#switches img {border-radius: 1.5rem; margin-top: -2rem;}
@media (min-width: 768px) {
    section#switches img {margin-top: -3.5rem;}
}